<footer class="site-footer">
    <div class="footer-note">本サイトに掲載する農薬情報は、園芸用途における一般的な知見をもとに整理したものです。
農薬の使用に際しては、必ず製品ラベルの法定表示を確認し、登録内容・使用作物・希釈倍率・散布間隔・収穫前日数などの遵守事項を確認してください。
農薬取締法および各自治体の指導に基づき、適正使用をお願いいたします。
不適切な使用による被害や損害について、当サイトは一切の責任を負いません。</div>
  <nav>
   <p>
    <a href="https://shiitake-garden.github.io/">Cultivation Lab:Shiitake-Garden</a>
    <a href="./privacy.html">プライバシーポリシー</a>  <a>|</a> 
    <a href="https://forms.gle/GARgLMeuovYtBj9HA">お問い合わせ</a> 
  </p>
  </nav>
  <div>© Cultivation Lab:Shiitake-Garden</div>
</footer>
